<script lang="ts">
    import L from 'leaflet'
    import 'leaflet/dist/leaflet.css'
    import { setContext } from 'svelte'
    import type { Action } from 'svelte/action'

    export let lng: number = 0
    export let lat: number = 0
    export let zoom: number = 0

    let map: L.Map

    $: map?.flyTo([lat, lng], zoom)

    const initializer: Action<HTMLDivElement> = (container) => {
        map = L.map(container)
        map.setView([lat, lng], zoom)
        const cartodb_layer = L.tileLayer(
            'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png',
            {
                attribution:
                    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
                subdomains: 'abcd',
                maxZoom: 13,
                minZoom: 3,
            }
        )
        cartodb_layer.addTo(map)

        map.zoomControl.remove()
        L.control.zoom({ position: 'topright' }).addTo(map)

        return {
            destroy: () => map?.remove(),
        }
    }

    setContext('map', {
        getMap: (): L.Map => map,
    })
</script>

<div style="height:100%;width:100%" use:initializer>
    {#if map}
        <slot />
    {/if}
</div>

<style>
    div {
        display: block;
        width: 100%;
        height: 100%;
    }
</style>
