<script lang="ts">
    import L from 'leaflet'
    import { getContext, onDestroy, onMount, setContext } from 'svelte'

    const { getMap }:{ getMap: () => L.Map } = getContext('map')

    export let lat: number = 0
    export let lng: number = 0
    
    let marker: L.Marker

    onMount(() => {
        const map = getMap()
        marker = L.marker([lat, lng])
        marker.addTo(map)
    })

    onDestroy(() => {
        if (!!marker) {
            const map = getMap()
            map.removeLayer(marker)
        }
    })


    setContext('layer' , {
        getLayer: (): L.Layer => marker
    })

</script>

{#if marker}
    <slot />
{/if}
