<script lang="ts">
    import L from 'leaflet'
    import { getContext } from 'svelte'
    import type { Action } from 'svelte/action'

    const { getLayer }:{getLayer: () => L.Layer} = getContext('layer')

   
    let popup: L.Popup
    let opened: boolean = false


    const initializer: Action<HTMLDivElement> = (container) => {
        popup = L.popup().setContent(container)
        
        const layer: L.Layer = getLayer()
        if(layer) {
            layer.bindPopup(popup)
            layer.on('popupopen', () => opened = true)
            layer.on('popupclose', () => opened = false)
        }

        return {
            destroy: () => {
                layer?.unbindPopup()
                popup?.remove()
            }
        }
    }


</script>

<div use:initializer>
    {#if opened}
        <slot />
    {/if}
</div>
