<script lang="ts">
    import { store } from '@/core/store'
    import { LeafLet, Marker, Popup } from '@/lib/leaflet'
    import type { City } from '@/types'

    const { cities, currentCity: selected } = store

    interface MapLocation {
        lat: number
        lng: number
        info: string
    }

    const mapper = (city: City): MapLocation =>({
        lat: city.lat,
        lng: city.lng,
        info: `${city.name}: ${city.population}`
    })

</script>


<div>
    <LeafLet
        lat={$selected?.lat ?? 0}
        lng={$selected?.lng ?? 0}
        zoom={$selected ? 13 : 0}
    >
        {#if $cities}
            {#each $cities.map(mapper) as {lat, lng, info}}
                <Marker {lat} {lng}>
                    <Popup>{info}</Popup>
                </Marker>
            {/each}
        {/if}
    </LeafLet>
</div>


<style>
    div {
        display: block;
        width: auto;
        aspect-ratio: 4 / 3;
    }
</style>
