<script lang="ts">
    import { store } from '@/core/store'
    import { debounce } from '@/lib/debounce'
    import { searchCityByName } from '@/services/geonames'
    import { quintOut } from 'svelte/easing'
    import { fly } from 'svelte/transition'

    const { cities, current } = store


    const searchCities = (text: string) => {
        searchCityByName(text).then(result => cities.set(result))
    }

    const handleInputChange = (event: Event) => {
        const input = event.target as HTMLInputElement
        if (input.value.length >= 3) searchCities(input.value)
    }

    const debounceHandleInputChange = debounce(handleInputChange, 1000)

    let search_text: string
    $: (search_text || !search_text) && cities.set([])

    const handleSelectChange = (event: Event) => {
        const elem: HTMLSelectElement = event.target as HTMLSelectElement
        current.set(+elem.value)
    }

</script>

<nav>
    <label for="search">Busqueda</label>
    <input
        id="search"
        type="text"
        bind:value={search_text}
        on:input={debounceHandleInputChange}
        autocomplete="off"
    />
</nav>
<nav>
    <select
        size="5"
        class="scrollable"
        on:change={handleSelectChange}
    >
    {#each $cities as city (city.id)}
    <option 
        value={city.id}
        in:fly={{ duration: 1000, x: '-100%', y: 0, opacity: 0.5, easing: quintOut }}
        out:fly={{ duration: 1000, x: '100%', y: 0, opacity: 0.5, easing: quintOut }}
    >
            {city.country} - {city.name} ({city.admin1_name})
        </option>
    {/each}
    
    </select>
</nav>

<style lang="scss">
    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: auto;

        input {
            width: 100%;
        }

        select {
            width: 100%;
            height: fit-content;
        }
    }
</style>
