<script lang="ts">
    import { MapComponent, SearchComponent } from "@/components"

</script>


<nav>
    <h1>Mapandriner</h1>
    <SearchComponent />
</nav>
<main>
    <MapComponent />
</main>
<style>
    main {
        width: 100%;
        height: 100%;
    }
    nav {
        position: absolute;
        z-index: 1000;
        background-color: black;
        left: 1rem;
        top: 1rem;
        border-radius: 1rem;
        text-align: center;
        padding: 1rem;
        color:white;
    }
</style>
